 
#about {
    margin: auto;
    margin-top: 80px;
    background-color: #282828; 
    padding-top: 30px;
    height: fit-content;
    width: 100%;
}

#about img {
    width: 15%;
    height: 18%;
    border-radius: 10px;
    margin: 3%;
}

#about-img {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 20px;
}

#name {
    font-size: xx-large;
    color: #66FCF1; 
}

#desc h1 {
    color: #E0E0E0; 
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

#desc h2 {
    color: #E0E0E0; 
    font-weight: lighter;
    font-size: large;
}

#desc span {
    color: #66FCF1; 
    font-weight: bold;
}

#content {
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: #66FCF1; 
    border-radius: 10px;
    font-size: x-large;
    color: #1A1A1A;
}

#about-me h1 {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: #66FCF1; 
}

#about-me h2 {
    text-align: center;
    font-weight: 300;
    font-size: x-large;
    color: #E0E0E0; 
}

#about-me p {
    text-align: center;
    font-weight: lighter;
    font-size: 1.9rem;
    color: #E0E0E0; 
    margin: 0 90px;
}

@media only screen and (max-width: 992px) {
    #about {
        margin: auto;
        margin-top: 80px;
        padding-top: 30px;
        padding: 20px;
        height: fit-content;
        width: 100%;
    }

    #about img {
        width: 20%;
        height: 20%;
        border-radius: 10px;
        margin: 3%;
    }

    #about-img {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 30px;
    }

    #name {
        font-size: 32px; 
    }

    #desc h1 {
        font-size: 28px;
        font-weight: bolder;
        text-align: center;
    }

    #desc h2 {
        font-weight: lighter;
        font-size: 25px;
    }

    #desc span {
        font-weight: bold;
    }

    #about-me h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 40px;
    }

    #about-me h2 {
        font-weight: 300;
        font-size: x-large; 
    }

    #about-me p {
        font-size: x-large;
    }
}

@media only screen and (max-width: 768px) {
    #about {
        margin: auto;
        margin-top: 80px;
        padding-top: 20px;
        height: fit-content;
        width: 100%;
    }

    #about img {
        width: 50%;
        height: 80%;
        border-radius: 10px;
        margin: 3% auto;
    }

    #about-img {
        display: grid;
        justify-content: center;
        gap: 0;
        margin-top: 30px;
    }

    #name {
        font-size: xx-large;
    }

    #desc h1 {
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
    }

    #desc h2 {
        font-weight: lighter;
        font-size: larger;
    }

    #desc span {
        font-weight: bold;
    }

    #about-me h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
    }

    #about-me h2 {
        text-align: center;
        font-weight: 300;
        font-size: 32px;
        margin-left: 15px;
    }

    #about-me p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 484px) {
    #about {
        margin: auto;
        margin-top: 80px;
        padding-top: 30px;
        height: fit-content;
        width: 100%;
    }

    #about img {
        width: 60%;
        height: 80%;
        border-radius: 10px;
        margin: auto;
    }

    #about-img {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    #name {
        font-size: small;
    }

    #desc {
        margin: auto;
    }

    #desc h1 {
        font-size: small;
        font-weight: bolder;
        text-align: center;
    }

    #desc h2 {
        font-weight: lighter;
    }

    #desc span {
        font-weight: bold;
        font-size: smaller;
    }

    #about-me h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 25px;
    }

    #about-me h2 {
        text-align: center;
        font-weight: 300;
        font-size: small;
        width: 80%;
        word-wrap: break-word;
    }

    #about-me p {
        text-align: center;
        font-weight: lighter;
        font-size: small;
    }
}
