#blogs{
    background-color: black;
    padding:  30px;
    width: 100%;
}

#blogs-header h1{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-size: xx-large;
    color: #A0E7E5;
}
.blog-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 20px;
    background-color: #000;
}

.blog-post {
    background-color: white;
    width: calc(50% - 60px); 
    /* max-width: 600px;  */
    padding: 20px;
    margin: 20px; 
    border-radius: 8px;
    box-sizing: border-box; 
}

/* .blog-section {
     display: grid; 
    justify-content:center;
    padding: 20px; 
    background-color: #000;
    width: 100%;
    max-width: 100%; 
}

.blog-post {
    background-color: white;
    max-width: 70%;
    width: 100%;
    min-width: 250px;
    padding: 20px;
    margin:30px auto;
    border-radius: 8px;
} */
.blog-post h2{
    font-size: larger;
    margin: 20px 0;
}

.img-desc{
    display: flex;
    gap: 30px;
}


.blog-post img {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

.actions {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

 .blog-post .comment-btn{
    background-color: #000;
    color: #fff;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.like-btn, .share-btn, .comment-actions .reply-btn{
    background:none;
    width: 25px;
    height: 20px;
}

.comments-section {
    margin-top: 20px;
}
.comments-section h3{
    font-size: large;
}
.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
}
.comments{
    display: none;
}
.comments-header:hover{
    cursor: pointer;
}

.actions img{
    width: 20px;
    height: 20px;
}
.comment-actions{
    display: flex;
    gap: 30px;
    margin-left: 70px;
    align-items: center;
}

.comment-actions img{
    width: 15px;
    height: 15px;
}

.add-comment form{
    width: 50%;
    border: none;
    margin-left: 0;
}
.add-comment form button{
    font-size: small;
    padding: 2px;
    margin: auto 0;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
}

.add-comment form input{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: medium;
    background-color: whitesmoke;
    margin: auto;
    width: 100%;
}

@media only screen and (max-width: 992px){
    #blogs{
        background-color: black;
        padding:  26px;
        width: 100%;
    }
    
    #blogs-header h1{
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
        font-size: xx-large;
    }
    
    /* .blog-section {
       display: grid; 
       justify-content:center;
       padding: 20px; 
       background-color: #000;
       width: 100%;
       max-width: 100%; 
   }
   
   .blog-post {
       background-color: white;
       max-width: 100%;
       width: 90%;
       min-width: 85%;
       padding: 50px;
       margin:30px auto;
       border-radius: 8px;
   } */
    
    .blog-post img {
        width: 33%;
        height: auto;
        border-radius: 8px;
    } 
    
    .actions {
        margin-top: 10px;
        display: flex;
        gap: 15px;
    }
    
     .blog-post .comment-btn{
        background-color: #000;
        color: #fff;
        padding: 6px 8px;
        margin-right: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .like-btn, .share-btn, .comment-actions .reply-btn{
        background:none;
        width: 25px;
        height: 20px;
    }
    
    .comments-section {
        margin-top: 20px;
    }
    .comments-section h3{
        font-size: larger;
    }
    .comment {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        position: relative;
    }
    .add-comment form{
        width: 70%;
       }
    
    
    .actions img{
        width: 30px;
        height: 30px;
    }
    .comment-actions{
        display: flex;
        gap: 25px;
        margin-left: 50px;
        align-items: center;
    }
    
    .comment-actions img{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 768px){
    #blogs{
        background-color: black;
        padding:  23px;
    }
    
    #blogs-header h1{
        text-align: center;
        margin-top: 16px;
        padding-top: 7px;
        font-size: x-large;
    }
    
    .blog-section {
        display: grid; 
       justify-content:center;
       padding: 50px; 
       background-color: #000;
       width: 90%;
       max-width: 100%; 
   }
   
   .blog-post {
       background-color: white;
       width: 100%;
       min-width: 80%;
       padding: 20px;
       margin:30px auto;
       border-radius: 8px;
   }
    
    .blog-post img {
        width: 33%;
    } 
    
    .actions {
        margin-top: 8px;
        display: flex;
        gap: 12px;
    }
    
     .blog-post .comment-btn{
        background-color: #000;
        color: #fff;
        padding: 5px 7px;
        margin-right: 7px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .like-btn, .share-btn, .comment-actions .reply-btn{
        background:none;
        width: 20px;
        height: 15px;
    }
    
    .comments-section {
        margin-top: 20px;
    }
    .comments-section h3{
        font-size: larger;
    }
    .comment {
        border-bottom: 1px solid #ddd;
        padding: 8px 0;
        position: relative;
    }
    
    .add-comment form{
        width: 90%;
       }
    .actions img{
        width: 25px;
        height: 25px;
    }
    .comment-actions{
        display: flex;
        gap: 20px;
        margin-left: 40px;
        align-items: center;
    }
    
    .comment-actions img{
        width: 15px;
        height: 15px;
    }
}
@media only screen and (max-width: 484px){
    #blogs{
        background-color: black;
        padding:  30px;
        margin: auto;
    }
    
    #blogs-header h1{
        text-align: center;
        margin-top: 15px;
        padding-top: 8px;
        font-size: larger;
    }
    
      
    .blog-section {
        display: grid; 
       justify-content:center;
       padding: 15px; 
       background-color: #000;
       width: 100%;
       max-width: 100%; 
   }
   
   .blog-post {
       background-color: white;
       max-width: 100%;
       width: 100%;
       min-width: 80%;
       padding: 20px;
       margin:30px auto;
       border-radius: 8px;
   }
   .add-comment form{
    width: 90%;
   }
   .add-comment input{
    height: 35px;
   }
   .add-comment form button{
    margin:5px 0;
   }
    
    .blog-post img {
        width: 33%;
    } 
    
    .actions {
        margin-top: 8px;
        display: flex;
        gap: 15px;
    }
    
     .blog-post .comment-btn{
        background-color: #000;
        color: #fff;
        padding: 5px 8px;
        margin-right: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .like-btn, .share-btn, .comment-actions .reply-btn{
        background:none;
        width: 18px;
        height: 15px;
    }
    
    .comments-section {
        margin-top: 20px;
    }
    .comments-section h3{
        font-size: larger;
    }
    .comment {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        position: relative;
    }
    
    
    .actions img{
        width: 20px;
        height: 20px;
    }
    .comment-actions{
        display: flex;
        gap: 18px;
        margin-left: 35px;
        align-items: center;
    }
    
    .comment-actions img{
        width: 12px;
        height: 12px;
    }
}


