footer{
    background-color: #A0E7E5;
    height: fit-content;
}

footer #copyrights{
   font-size: large;
   text-align: center;
   padding-bottom: 30px;
}

#footer{
    background-color: #A0E7E5;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
}
#footer h1{
    color: black;
    text-align: center;
}

#footer .part{
    width: 200px;
    padding: 10px;
}

#contacts{
    color: black;
}
#address{
    width: 200px;
}
#address {
    font-size: x-large;
}
#quick-links ul{
    list-style-type: none;
    font-size: x-large;
    text-align: center;
}
#quick-links a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
#quick-links a:hover{
    color: white;
}
.contact{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    padding: 0;
}
.contact span{
    font-size: x-large;
}

.contact img{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    #footer {
        justify-content: center;
        gap: 20px;
    }
    #footer .part {
        width: 33.33%;
        text-align: center;
    }
}
@media only screen and (max-width: 412px) {
    #footer{
        width: 100%;
        height: fit-content;
        gap: 20px;
        justify-content: space-evenly;
    }

    .part h1{
        font-size: medium;
    }

    #footer h1{
        font-size: large;
    }
    #quick-links li a{
        font-size: medium;
    }
    footer #copyrights{
       padding-bottom: 15px;
       font-size: large;
    }
    
    #footer .part{
        width:33.33%;
        padding: 8px;
        font-size: small;
    }
    
    #quick-links ul{
        font-size: large;
    }
    .contact span {
        font-size:medium;
    }
    
    .contact img{
        width: 18px;
        height: 18px;
    }
    .contact{
        gap: 5px;
        margin: 2px;
    }
}

@media only screen and (max-width: 430px) {
    #footer{
        width: 100%;
        height: fit-content;
        gap: 20px;
        justify-content: space-evenly;
    }

    .part h1{
        font-size: medium;
    }

    #footer h1{
        font-size: large;
    }
    #quick-links li a{
        font-size: medium;
    }
    footer #copyrights{
       padding-bottom: 10px;
       font-size: large;
    }
    
    #footer .part{
        width:33.33%;
        padding: 8px;
        font-size: small;
    }
    
    #quick-links ul{
        font-size: large;
    }
    .contact span {
        font-size:medium;
    }
    
    .contact img{
        width: 15px;
        height: 15px;
    }
    .contact{
        gap: 5px;
        margin: 2px;
    }
}

@media only screen and (max-width: 540px) {
    #footer{
        width: 100%;
        height: fit-content;
        gap: 20px;
        justify-content: space-evenly;
    }

    .part h1{
        font-size: medium;
    }

    #footer h1{
        font-size: large;
    }
    #quick-links li a{
        font-size: medium;
    }
    footer #copyrights{
       padding-bottom: 10px;
       font-size: large;
    }
    
    #footer .part{
        width:33.33%;
        padding: 8px;
        font-size: small;
    }
    
    #quick-links ul{
        font-size: large;
    }
    .contact span {
        font-size:medium;
    }
    
    .contact img{
        width: 15px;
        height: 15px;
    }
    .contact{
        gap: 5px;
        margin: 2px;
    }
}