
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A; 
    margin: auto;
    width: 100%;
    color: #E0E0E0; 
}

#home {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    display: grid;
    justify-content: space-evenly;
    align-content: flex-start;
    position: relative;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    background-color: #333333; 
    position: fixed;
    z-index: 222;
    top: 0;
}

#logo h1 {
    font-size: xx-large;
    color: #66FCF1; 
    font-style: italic;
}

#logo img {
    width: 80px;
    height: 55px;
    border-radius: 10px;
}

#menu-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}
#other-links{
    display: flex;
    gap: 2rem;
    align-items: baseline;
    padding-top: 20px;
}

#nav-bar ul li a {
    font-size: 1.5vw;
    color: #E0E0E0;
    text-decoration: none;
}

#nav-bar ul li a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

#nav-bar ul li a:active {
    color: #66FCF1; 
}

#user-control {
    display: flex;
    gap: 10px;
    padding: 8px 15px;
    border: 2px solid #333333;
    border-radius: 20px;
    background-color: #1A1A1A; 
    box-shadow: 1px 2px 1px #66FCF1;
    width: 200px;
    height: 45px;
}

#user-control #sign-up {
    border-right: 3px solid #333333;
    border-radius: 20px;
    background-color: #1A1A1A; 
    padding: 5px;
}

#user-control a#login:hover {
    text-decoration: none;
    border-right: 3px solid #333333;
    border-radius: 20px;
    background-color: #1A1A1A;
    padding: 2px 7px;
}

#user-control a#sign-up:hover {
    text-decoration: none;
    border: none;
    background: none;
}

#home-part1 {
    display: flex;
    justify-content: space-evenly;
    gap: 3%;
    margin: 4%;
    margin-top: 80px;
}

#my-intro h1 {
    font-size: 70px;
    color: #66FCF1; 
}

#text-cv {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#home-btns {
    display: flex;
}

#text-cv #home-btns button {
    width: 200px;
    height: 50px;
    font-size: larger;
    padding: 0;
    background-color: #282828; 
    color: #E0E0E0;
    border: 1px solid #66FCF1;
    border-radius: 10px;
    margin: 5px;
}

#text-cv #home-btns button:hover {
    cursor: pointer;
    color: white;
    background-color:black; 
}
#text-cv #home-btns #github:hover {
    cursor: pointer;
    color: white;
    background: none;
}

#text-cv #home-btns button a:hover {
    cursor: pointer;
    color: #282828;
    background-color: #66FCF1;
}

#text-cv #home-btns a {
    color: #E0E0E0; 
    text-decoration: none;
}

#intro h1 {
    font-size: 25px;
    color: #66FCF1; 
}

.my-text {
    font-size: larger;
    color: #E0E0E0;
    line-height: 25px;
    width: 75%;
    padding: 1.85rem 0 0 0;
}

#logo img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

#profile-picture img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

#profile-picture {
    width: 20%;
}

#home-part2 {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin: 45px auto;
    width: 75%;
}

#home-part2 .home2-text {
    width: 90%;
    padding: 15px;
    background-color: #282828;
    font-size: larger;
    color: #E0E0E0;
    border-radius: 10px;
    box-shadow: 1px 2px 1px #66FCF1;
}

.nav-toggler {
    display: none;
}

#menu-list-on-toggle {
    background: #333333; 
    width: 200px;
    z-index: 333;
    border-radius: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    display: none;
}

#menu-list-on-toggle li {
    list-style: none;
    display: block;
    margin: 20px 10px;
}

#menu-list-on-toggle span#close-menu {
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: x-large;
    width: 50px;
    height: 100px;
}

#menu-list-on-toggle span:hover {
    cursor: pointer;
}

#nav-control {
    display: flex;
    gap: 3px;
    padding: 2px;
    border: 2px solid #333333;
    border-radius: 20px;
    background-color: #282828;
    box-shadow: 1px 2px 1px #66FCF1;
}

#nav-control li {
    margin: 5px;
}

#nav-control #signup {
    border-right: 3px solid #333333;
    border-radius: 20px;
    background-color: #1A1A1A;
    padding: 5px;
}

#nav-control a#signin:hover {
    text-decoration: none;
    border-right: 3px solid #333333;
    border-radius: 20px;
    background-color: #1A1A1A;
    padding: 5px 15px;
}

#user-control a#signup:hover {
    text-decoration: none;
    border: none;
    background: none;
}

#logout {
    align-items: center;
    gap: 10px;
    display: none;
    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

#menu-list-on-toggle #logout-toggler {
    align-items: center;
    gap: 10px;
    display: none;
    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 10px;
    padding-left: 35px;
    text-align: center;
}

.hide-comments:hover {
    cursor: pointer;
}

#logout:hover {
    opacity: 0.7;
}

#logout-toggler span {
    color: #E0E0E0;
}

#logout span {
    color: #E0E0E0;
}

#logout a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    #home{
        margin: auto;
        padding: 0 50px;
        padding-top: 40px;
        width: 100%;
        display: grid;
        justify-content: center; 
    }
    #menu-list{
        display: flex;
    }
    #home-part1{
        display: grid;
        justify-content: center;
        margin: auto;
        margin-top: 120px;
    }
    #text-cv #home-btns button{
        width: 180px;
        height: 50px;
        font-size: x-large;
        padding: 0;
        border-radius: 10px;
        margin: 5px;
    }
    #profile-picture{
        margin: 20px auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #profile-picture img{
        width: 200px;
        height: 250px;
        border-radius: 10px;
        object-fit:cover;
    }
    
    #home-part2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin: 45px auto;
    }
    .home2-text p{
        font-size: 1.5rem;
    }
    .my-text{
        font-size: larger;
        line-height: 22px;
        width:100%;
        justify-content: center;
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {

    #home{
        width: 100%;
        margin: auto;
    }
    #menu-list-on-toggle{
        display: none;
    }
 
    #nav-bar {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 85%;
        height: 70px;
      
    }
    .nav-toggler {
        display: flex;
        justify-content: flex-end;
        align-items:center;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 1px;
        right: 5px;
        
    } 
    .nav-toggler:hover{
        cursor: pointer;
    } 
    #menu-list {
        display: none;
        width: 90px;
        height:fit-content;
        padding: 10px;
        z-index:1000;
        margin: 0;
        font-size: large;
    }
    #user-control{
        display: flex;
        padding: 0px;
        gap: 4px;
    }
    #user-control #sign-up{
        padding: 2px;
    }
    #user-control #login{
        padding: 2px;
    }
    #user-control a#login:hover{
        padding: 1px 2px;
    }
  
    #my-intro {
        font-size:1.2rem;
    }
    #intro{
        margin: auto;
    }
   
    #home-part1{
        margin: auto;
        gap: 2%;
        margin-top: 120px;
    }
    #text-cv{
        margin: auto;
    }
    .my-text{
        font-size: large;
        line-height: 25px;
        width:100%;
        justify-content: center;
        padding: 1rem 0 0 0 ;
    }
    #text-cv #home-btns button{
        width: 150px;
        height: 50px;
        font-size: larger;
        padding: 0;
    }
    #profile-picture img{
        width: 180px;
        height: 200px;
        border-radius: 10px;
        object-fit:cover;
    }
    
    
    #home-part2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin: 45px auto;
    }
    .home2-text{
        margin: auto;
    }
    .home2-text p{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 484px) {
    #home{
        width: 100%;
        margin: auto;
    }
    #menu-list-on-toggle{
        display: none;
    }
    #nav-bar {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 78%;
        height: 70px;
      
    }
    #logo img{
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .nav-toggler {
        display: flex;
        justify-content: flex-end;
        align-items:center;
        width: 70px;
        height: 70px; 
        position: absolute;
        top: 1px;
        right: 10px;
    }  
    #my-intro {
        font-size:1rem;
    }
   
    #home-part1{
        display: grid;
        justify-content: center;
        margin-top: 100px;
    }
    .my-text{
        font-size: large;
        line-height: 24px;
        width:80%;
        justify-content: center;
        padding: 1.2rem 0 0 0 ;
    }
    #profile-picture img{
        width: 150px;
        height: 180px;
        border-radius: 10px;
        object-fit:cover;
        margin-bottom: 20px;
    }
    
    #home-part2{
        display: grid;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    .home2-text{
        width: 100%;
        margin: auto;
    }
    .home2-text p{
        font-size: 1.2rem;
        margin-top: 30px;
        line-height: 30px;
    }
    #text-cv #home-btns button{
        width: 140px;
        height: 50px;
        font-size: larger;
        padding: 0;
        border-radius: 10px;
        margin: 5px;
    }
    #text-cv #home-btns{
        margin: auto;
    }
    .my-text{
        width: 95%;
    }
}
 
