*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #36454F;
}

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
    width: 100%;
    height: 100px;
    margin: 0;
    padding-left: 20px;
    background-color: #36454F;
    position: fixed;
    z-index: 222;
    top: 0;
}

#logo h1{
    font-size: xx-large;
    color: #A0E7E5;
    font-style: italic;
}

#logo img{
    width: 80px;
    height: 50px;
    border-radius: 10px;
}

#nav-bar ul{
    display: flex;
    list-style-type: none;
    float: right;
}
#nav-bar ul li a{
    font-size: 28px;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
#nav-bar ul li a:hover{
    text-decoration: underline;
    opacity: 0.7;
}

#nav-bar ul li a:active{
    color: #A0E7E5;
}


#home-part1{
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 100px;
}

 #my-intro h1{
    font-size: 70px;
    color: #A0E7E5;
}

#text-cv{
    display: flex;
    gap: 5%;
}
#text-cv #home-btns{
    margin-top: 75px;
    margin-right: 40px;
}

#text-cv #home-btns button{
    width: 200px;
    height: 50px;
    font-size: x-large;
    padding: 0;
    background-color: #A0E7E5;
    color: white;
    border: 1px solid #A0E7E5;
    border-radius: 10px;
    margin: 5px;
    display: block;
}
#text-cv #home-btns button:hover{
    cursor: pointer;
    color: #36454F;
    background-color: white;
}
#text-cv #home-btns button a:hover{
    cursor: pointer;
    color: #36454F;
    background-color: white;
}

#text-cv #home-btns a{
    color: white;
    text-decoration: none;
}

 h1{
    font-size: 30px;
    color: #A0E7E5;
}

.my-text{
    font-size: x-large;
}

#profile-picture img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 30px;
}


#home-part2{
    display: flex;
    justify-content: center;
    gap: 15%;
}
#home-part2 .home2-text p{
    width: 380px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #A0E7E5;
    font-size: x-large;
    border-radius: 10px;
}

.nav-toggler{
    display: none;
}

#home{
    max-width: fit-content;
}



/* Media queries for responsiveness */
@media only screen and (max-width: 1200px) {
    #nav-bar {
        gap: 20%;
    }
    .nav-toggler{
        display: none;
    }
}

@media only screen and (max-width: 1024px){
    .my-text{
        font-size: xx-large;
    }
    #home-part2{
        margin-left: 50px;
        font-size: larger;
    }
    #nav-bar ul li a{
        font-size: 26px;
        margin: 8px;
        padding: 8px;
    }
}

@media only screen and (max-width: 992px) {
    #nav-bar {
        gap: 6px;
    }

    #home-part1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #home-part2{
        gap: 25px;
    }

    #text-cv #home-btns {
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
    }

    #text-cv #home-btns button {
        margin-right: 0;
    }

    #profile-picture img {
        margin-left: 0;
        width: 300px;
        height: 200px;
    }
    .nav-toggler{
        display: none;
    }
}


@media only screen and (max-width: 480px) {
    #nav-bar {
        gap: 5%;
    }

    #home-part1 {
        margin: 20px;
        gap: 10px;
    }

    #text-cv #home-btns button {
        width: 100%;
    }

    #home-part2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #home-part2 .home2-text p {
        width: 100%;
    }
}
@media only screen and (max-width: 430px) {
    #nav-bar {
        display: none;
    }

    #home-part1 {
        margin: 15px;
        gap: 8px;
    }

    #text-cv #home-btns button {
        width: 80%;
    }

    #home-part2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #home-part2 .home2-text p {
        width: 100%;
    }
}


@media only screen and (max-width: 412px) {

    #home-part1 {
        margin: 15px;
        gap: 10px;
    }
#text-cv #home-btns{
    margin-top: 75px;
    margin-right: 40px;
}
#text-cv{
    display: block;
    margin: 10px;
    justify-content: center;
    margin: 0;
}

#text-cv #home-btns button{
    width: 80%;
    height: 50px;
    font-size:x-large;
}

    #home-part2 {
        display: block;
        width: 90%;
        margin-left:10px;
    }
    
    #home-part2 p{
        font-size: medium;
    }

    #home-part2 .home2-text p {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {

    #home-part1 {
        margin: 15px;
        gap: 10px;
    }
#text-cv #home-btns{
    margin-top: 75px;
    margin-right: 40px;
}
#text-cv{
    display: block;
    margin: 10px;
    justify-content: center;
    margin: 0;
}

#text-cv #home-btns button{
    width: 80%;
    height: 50px;
    font-size:x-large;
}

    #home-part2 {
        display: block;
        width: 90%;
        margin-left:10px;
    }
    
    #home-part2 p{
        font-size: medium;
    }

    #home-part2 .home2-text p {
        width: 100%;
    }
}


@media only screen and (max-width: 540px) {

    #home-part1 {
        margin: 15px;
        gap: 10px;
    }
#text-cv #home-btns{
    margin-top: 75px;
    margin-right: 40px;
}
#text-cv{
    display: block;
    margin: 10px;
    justify-content: center;
    margin: 0;
}

#text-cv #home-btns button{
    width: 80%;
    height: 50px;
    font-size:x-large;
}

    #home-part2 {
        display: block;
        width: 90%;
        margin-left:10px;
    }
    
    #home-part2 p{
        font-size: medium;
    }

    #home-part2 .home2-text p {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #nav-bar {
        text-align: center;
        gap: 3%;
    }

    #nav-bar li {
        display: inline;
        margin-right: 10px;
    }
    #nav-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #36454F;
        top: 60px;
        left: 0;
        z-index: 1;
        font-size: large;
    }

    #nav-bar ul.show {
        display: flex;
    }

    #nav-bar ul li {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

     .nav-toggler {
        display: block;
        background-color: white;
        width: 100px;
        height: 50px;
    }

    #home-part1 {
        margin-top: 50px;
    }

    #text-cv {
        flex-direction: column;
        gap: 20px;
    }

    #text-cv #home-btns {
        margin-top: 20px;
    }

    #profile-picture img {
        width: 100%;
        max-width: 300px;
        margin-left: 0;
    }
    #home-part2{
        gap: 6%;
    }
    #home-part2 .home2-text p{
        width: 340px;
        height: 180px;
        margin: 0px;
        padding: 5px;
    }
}