#portifolio{
    background-color: black;
}

#portifolio h2{
    font-size: xx-large;
    color: #A0E7E5;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

#projects {
    padding: 20px;
    background-color: black;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: x-large;
}

.project img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.project-link {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}


/* Media queries for responsiveness */
@media only screen and (max-width: 1200px) {
    #projects {
        gap: 30px;
    }

    .project {
        width: 400px;
    }
}

@media only screen and (max-width: 992px) {
    #projects {
        gap: 20px;
    }

    .project {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #projects {
        flex-direction: column;
        align-items: center;
    }
    .project img {
        max-width: 60%;
        height: 40%;
        border-radius: 8px;
    }
    #portifolio h2{
        font-size: larger;
        padding: 3%;
    }
}

@media only screen and (max-width: 768px) {
    #portifolio h2{
        font-size: x-large;
    }
}
